pipeline/DepartamentalStructuredFolderPipeline.json
{
	"name": "DepartamentalStructuredFolderPipeline",
	"properties": {
		"activities": [
			{
				"name": "IterateOverAllTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetGovernanceMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetGovernanceMetadata').output.datasets",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "OperationaLogIterateStart",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "OperationalLogPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"nivel": "INFO",
									"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"logType": "INFO",
									"applicationName": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"dataDate": {
										"value": "@variables('referenceDate')",
										"type": "Expression"
									},
									"datasetName": {
										"value": "@item().dataset_name",
										"type": "Expression"
									},
									"region": {
										"value": "@pipeline().parameters.region",
										"type": "Expression"
									},
									"message": {
										"value": "@concat('Starting copy process for dataset: ', item().dataset_name)",
										"type": "Expression"
									},
									"sourceType": {
										"value": "@pipeline().parameters.sourceType",
										"type": "Expression"
									},
									"uid": {
										"value": "@variables('uid')",
										"type": "Expression"
									},
									"parentUid": {
										"value": "@trim('')",
										"type": "Expression"
									},
									"datasetIn": {
										"value": "@trim('')",
										"type": "Expression"
									},
									"datasetOut": {
										"value": "@trim('')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ListFolderFiles",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "OperationaLogIterateStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DepartamentalBinaryFileServerDataset",
									"type": "DatasetReference",
									"parameters": {
										"folder": "@{item().folder}",
										"host": "@{item().host}",
										"userid": "@{item().user_name}",
										"secret_name": "@{item().secret_name}"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "IsFolderEmpty",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "ListFolderFiles",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('ListFolderFiles').output.childItems)\n\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "OperationaLogIterateEnd",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyMetadata",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "OperationalLogPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": false,
											"parameters": {
												"nivel": "INFO",
												"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
												"pipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"logType": "INFO",
												"applicationName": {
													"value": "@pipeline().parameters.applicationName",
													"type": "Expression"
												},
												"dataDate": {
													"value": "@variables('referenceDate')",
													"type": "Expression"
												},
												"datasetName": {
													"value": "@item().dataset_name",
													"type": "Expression"
												},
												"region": {
													"value": "@pipeline().parameters.region",
													"type": "Expression"
												},
												"message": {
													"value": "@concat('Finshed copy process for dataset: ', item().dataset_name)",
													"type": "Expression"
												},
												"sourceType": {
													"value": "@pipeline().parameters.sourceType",
													"type": "Expression"
												},
												"uid": {
													"value": "@variables('uid')",
													"type": "Expression"
												},
												"parentUid": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetIn": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetOut": {
													"value": "@trim('')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "CopyData",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												}
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": false,
											"skipErrorFile": {
												"fileMissing": true
											},
											"validateDataConsistency": false
										},
										"inputs": [
											{
												"referenceName": "DepartamentalBinaryFileServerDataset",
												"type": "DatasetReference",
												"parameters": {
													"folder": "@{item().folder}",
													"host": "@{item().host}",
													"userid": "@{item().user_name}",
													"secret_name": "@{item().secret_name}"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "BlobStorageDepLandingDataset",
												"type": "DatasetReference",
												"parameters": {
													"businessUnit": "@item().business_unit",
													"landingType": "sl",
													"extractionTool": "@pipeline().parameters.sourceType",
													"applicationName": "@{pipeline().parameters.applicationName}",
													"region": "@{pipeline().parameters.region}",
													"datasetName": "@item().dataset_name",
													"date": {
														"value": "@{concat(item().sink_date, '/', activity('GetGovernanceMetadata').output.ts)}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "OperationaLogErrorCopyData",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "CopyData",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "OperationalLogPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"nivel": "ERROR",
												"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
												"pipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"logType": "ERROR",
												"applicationName": {
													"value": "@pipeline().parameters.applicationName",
													"type": "Expression"
												},
												"dataDate": {
													"value": "@variables('referenceDate')",
													"type": "Expression"
												},
												"datasetName": {
													"value": "@item().dataset_name",
													"type": "Expression"
												},
												"region": {
													"value": "@pipeline().parameters.region",
													"type": "Expression"
												},
												"message": {
													"value": "@concat('CopyData: ', activity('CopyData').error.message)",
													"type": "Expression"
												},
												"sourceType": {
													"value": "@pipeline().parameters.sourceType",
													"type": "Expression"
												},
												"uid": {
													"value": "@variables('uid')",
													"type": "Expression"
												},
												"parentUid": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetIn": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetOut": {
													"value": "@trim('')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "CopyMetadata",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "CopyData",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlSource",
												"sqlReaderQuery": {
													"value": "SELECT '@{item().dataset_name}' AS date FROM metadata_schema",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "BlobSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "AzureSqlDataset",
												"type": "DatasetReference",
												"parameters": {
													"tableName": "metadata_schema",
													"secretName": "db-metadata-secret"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "BlobStorageDatasetLanding",
												"type": "DatasetReference",
												"parameters": {
													"date": {
														"value": "@{concat(item().sink_date, '/', activity('GetGovernanceMetadata').output.ts)}",
														"type": "Expression"
													},
													"extractionTool": "@pipeline().parameters.sourceType",
													"region": "@{item().region}",
													"format": "metadata.avro",
													"applicationName": "@{item().application_name}",
													"datasetName": "@item().dataset_name",
													"businessUnit": "@{item().business_unit}"
												}
											}
										]
									},
									{
										"name": "Append DatasetIn",
										"type": "AppendVariable",
										"dependsOn": [
											{
												"activity": "CopyData",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "datasetIn",
											"value": {
												"value": "@concat('{\"NAME\":\"', item().dataset_name, '\",\"PATH\":\"', item().folder, '\",\"NUM_ITEMS\":\"', activity('CopyData').output.filesRead,'\"}')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Append DatasetOut",
										"type": "AppendVariable",
										"dependsOn": [
											{
												"activity": "CopyData",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "datasetOut",
											"value": {
												"value": "@concat('{\"NAME\":\"', item().dataset_name, '\",\"PATH\":\"wasbs://staging@', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'sa', item().business_unit, 'sl.blob.core.windows.net/file/', item().application_name, '/', item().region, '/', item().dataset_name, '/', item().sink_date, '/', activity('GetGovernanceMetadata').output.ts, '/', item().dataset_name ,'.avro','\",\"NUM_ITEMS\":\"', activity('CopyData').output.filesWritten,'\"}')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Append_Emtpy_dataset",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "evaluate",
											"value": {
												"value": "@item().folder",
												"type": "Expression"
											}
										}
									},
									{
										"name": "OperationalLogIterateEndOptional",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Append_Emtpy_dataset",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "OperationalLogPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"nivel": {
													"value": "@if(item().is_optional, 'INFO', 'ERROR')",
													"type": "Expression"
												},
												"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
												"pipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"logType": {
													"value": " 'INFO'",
													"type": "Expression"
												},
												"applicationName": {
													"value": "@pipeline().parameters.applicationName",
													"type": "Expression"
												},
												"dataDate": {
													"value": "@variables('referenceDate')",
													"type": "Expression"
												},
												"datasetName": {
													"value": "@item().dataset_name",
													"type": "Expression"
												},
												"region": {
													"value": "@pipeline().parameters.region",
													"type": "Expression"
												},
												"message": {
													"value": "@concat('File not found in : ', item().dataset_name)",
													"type": "Expression"
												},
												"sourceType": {
													"value": "@pipeline().parameters.sourceType",
													"type": "Expression"
												},
												"uid": {
													"value": "@variables('uid')",
													"type": "Expression"
												},
												"parentUid": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetIn": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetOut": {
													"value": "@trim('')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "OperationaLogStart",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OperationalLogPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"nivel": "INFO",
						"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logType": "START",
						"applicationName": {
							"value": "@pipeline().parameters.applicationName",
							"type": "Expression"
						},
						"dataDate": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"region": {
							"value": "@pipeline().parameters.region",
							"type": "Expression"
						},
						"sourceType": {
							"value": "@pipeline().parameters.sourceType",
							"type": "Expression"
						},
						"uid": {
							"value": "@variables('uid')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "OperationaLogErrorGetMetada",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetGovernanceMetadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OperationalLogPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"nivel": "ERROR",
						"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logType": "END",
						"applicationName": {
							"value": "@pipeline().parameters.applicationName",
							"type": "Expression"
						},
						"dataDate": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"region": {
							"value": "@pipeline().parameters.region",
							"type": "Expression"
						},
						"message": {
							"value": "@concat('GetGovernanceMetadata: ', activity('GetGovernanceMetadata').error.message)",
							"type": "Expression"
						},
						"sourceType": {
							"value": "@pipeline().parameters.sourceType",
							"type": "Expression"
						},
						"uid": {
							"value": "@variables('uid')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AllDepartamentalsEmpty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IterateOverAllTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(variables('evaluate')), length(activity('GetGovernanceMetadata').output.datasets))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "OperationaLogEnd",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CopyExtractionMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "OperationalLogPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"nivel": "INFO",
									"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"logType": "END",
									"applicationName": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"dataDate": {
										"value": "@variables('referenceDate')",
										"type": "Expression"
									},
									"region": {
										"value": "@pipeline().parameters.region",
										"type": "Expression"
									},
									"sourceType": {
										"value": "@pipeline().parameters.sourceType",
										"type": "Expression"
									},
									"uid": {
										"value": "@variables('uid')",
										"type": "Expression"
									},
									"datasetIn": {
										"value": "@variables('datasetIn')",
										"type": "Expression"
									},
									"datasetOut": {
										"value": "@variables('datasetOut')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute Ingestion",
							"description": "From Blob to DataLake",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CopyExtractionMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "IngestionEphemeralPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"metadataPath": {
										"value": "@{concat('wasbs://staging@', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'sa', activity('GetGovernanceMetadata').output.datasets[0].business_unit, 'sl.blob.core.windows.net/file/',pipeline().parameters.applicationName,'/',pipeline().parameters.region, '/metadata/',activity('GetGovernanceMetadata').output.datasets[0].sink_date,'/',activity('GetGovernanceMetadata').output.ts,'/metadata.avro')}",
										"type": "Expression"
									},
									"applicationName": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"region": {
										"value": "@pipeline().parameters.region",
										"type": "Expression"
									},
									"extractionDate": {
										"value": "@activity('GetGovernanceMetadata').output.datasets[0].sink_date",
										"type": "Expression"
									},
									"workers": {
										"value": "@{if(empty(string(activity('GetGovernanceMetadata').output.datasets[0].min_workers)),2,string(activity('GetGovernanceMetadata').output.datasets[0].min_workers))}:@{if(empty(string(activity('GetGovernanceMetadata').output.datasets[0].max_workers)),8,string(activity('GetGovernanceMetadata').output.datasets[0].max_workers))}",
										"type": "Expression"
									},
									"parentUid": {
										"value": "@variables('uid')",
										"type": "Expression"
									},
									"package": {
										"value": "@pipeline().parameters.package",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "OperationaLogErrorCreateMetadata",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CopyExtractionMetadata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "OperationalLogPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"nivel": "ERROR",
									"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"logType": "END",
									"applicationName": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"dataDate": {
										"value": "@variables('referenceDate')",
										"type": "Expression"
									},
									"region": {
										"value": "@pipeline().parameters.region",
										"type": "Expression"
									},
									"message": {
										"value": "@concat('CopyExtractionMetadata: ', activity('CopyExtractionMetadata').error.message)",
										"type": "Expression"
									},
									"sourceType": {
										"value": "@pipeline().parameters.sourceType",
										"type": "Expression"
									},
									"uid": {
										"value": "@variables('uid')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "DeleteSourceDepartamentalFolder",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Execute Ingestion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DeleteDepartamentalStructuredFolder",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"foldersList": {
										"value": "@activity('GetGovernanceMetadata').output.datasets",
										"type": "Expression"
									},
									"applicationName": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"referenceDate": {
										"value": "@variables('referenceDate')",
										"type": "Expression"
									},
									"region": {
										"value": "@pipeline().parameters.region",
										"type": "Expression"
									},
									"sourceType": {
										"value": "@pipeline().parameters.sourceType",
										"type": "Expression"
									},
									"uid": {
										"value": "@variables('uid')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "RenewToken",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://login.microsoftonline.com/0a25214f-ee52-483c-b96b-dc79f3227a6f/oauth2/v2.0/token",
								"method": "POST",
								"headers": {
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": {
									"value": "@concat('client_id=', variables('appIdToken'), '&client_secret=',  encodeUriComponent(variables('appSecretToken')), '&grant_type=client_credentials&scope=https://graph.microsoft.com/.default')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Renew Set httpToken",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "RenewToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "httpToken",
								"value": {
									"value": "@activity('RenewToken').output.access_token",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyExtractionMetadata",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Renew Set httpToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://coreutils', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'akcore.cloudapp.repsol.com/dap-core-extraction-utils/parse-metadata')",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"x-application-name": {
										"value": "@pipeline().parameters.applicationName",
										"type": "Expression"
									},
									"x-region": {
										"value": "@pipeline().parameters.region",
										"type": "Expression"
									},
									"x-source-type": {
										"value": "@pipeline().parameters.sourceType",
										"type": "Expression"
									},
									"x-reference-date": {
										"value": "@variables('referenceDate')",
										"type": "Expression"
									},
									"x-file-type": "avro",
									"x-extraction-ts": {
										"value": "@activity('GetGovernanceMetadata').output.ts",
										"type": "Expression"
									},
									"x-landing-type": "sl",
									"x-dataset-metadata": "metadata",
									"Authorization": {
										"value": "@concat('Bearer ', variables('httpToken'))",
										"type": "Expression"
									},
									"x-is-interval": {
										"value": "false",
										"type": "Expression"
									},
									"x-exclude-ds-path": "true",
									"x-ds-to-lower": "false"
								},
								"body": {
									"value": "@json(concat('{\"dataset_metadata\": ', activity('GetGovernanceMetadata').output.datasets, '}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Review_optional_datasets_to_log",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AllDepartamentalsEmpty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetGovernanceMetadata').output.datasets",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "current_dataset_is_empty",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('evaluate'), item().folder)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "OperationaLogCurrentLogNotEmpty",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "OperationalLogPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": false,
											"parameters": {
												"nivel": "INFO",
												"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
												"pipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"logType": "END",
												"applicationName": {
													"value": "@pipeline().parameters.applicationName",
													"type": "Expression"
												},
												"dataDate": {
													"value": "@variables('referenceDate')",
													"type": "Expression"
												},
												"region": {
													"value": "@pipeline().parameters.region",
													"type": "Expression"
												},
												"sourceType": {
													"value": "@pipeline().parameters.sourceType",
													"type": "Expression"
												},
												"uid": {
													"value": "@variables('uid')",
													"type": "Expression"
												},
												"datasetIn": {
													"value": "@variables('datasetIn')",
													"type": "Expression"
												},
												"datasetOut": {
													"value": "@variables('datasetOut')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "OperationalLogCurrentDataSetEmpty",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "OperationalLogPipeline",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"nivel": {
													"value": "@if(item().is_optional, 'INFO', 'ERROR')",
													"type": "Expression"
												},
												"modulo": "EXTRACTION_FILES",
												"pipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"logType": {
													"value": "@if(item().is_optional, 'INFO', 'ERROR')",
													"type": "Expression"
												},
												"applicationName": {
													"value": "@pipeline().parameters.applicationName",
													"type": "Expression"
												},
												"dataDate": {
													"value": "@variables('referenceDate')",
													"type": "Expression"
												},
												"datasetName": {
													"value": "@item().dataset_name",
													"type": "Expression"
												},
												"region": {
													"value": "@pipeline().parameters.region",
													"type": "Expression"
												},
												"message": {
													"value": "@if(item().is_optional, concat('Optional file not found, Copy Data ommitted for dataset: ', item().dataset_name), concat('Error, file not found for dataset: ', item().dataset_name))",
													"type": "Expression"
												},
												"sourceType": {
													"value": "@pipeline().parameters.sourceType",
													"type": "Expression"
												},
												"uid": {
													"value": "@variables('uid')",
													"type": "Expression"
												},
												"parentUid": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetIn": {
													"value": "@trim('')",
													"type": "Expression"
												},
												"datasetOut": {
													"value": "@trim('')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "OperationaLogDepartamentalEnd",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Review_optional_datasets_to_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OperationalLogPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"nivel": "INFO",
						"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logType": "END",
						"applicationName": {
							"value": "@pipeline().parameters.applicationName",
							"type": "Expression"
						},
						"dataDate": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"region": {
							"value": "@pipeline().parameters.region",
							"type": "Expression"
						},
						"sourceType": {
							"value": "@pipeline().parameters.sourceType",
							"type": "Expression"
						},
						"uid": {
							"value": "@variables('uid')",
							"type": "Expression"
						},
						"datasetIn": {
							"value": "@variables('datasetIn')",
							"type": "Expression"
						},
						"datasetOut": {
							"value": "@variables('datasetOut')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "OperationaLogErrorIterate",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IterateOverAllTables",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OperationalLogPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"nivel": "ERROR",
						"modulo": "EXTRACTION_DEPARTAMENTAL_STRUCTURED",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logType": "END",
						"applicationName": {
							"value": "@pipeline().parameters.applicationName",
							"type": "Expression"
						},
						"dataDate": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"region": {
							"value": "@pipeline().parameters.region",
							"type": "Expression"
						},
						"message": {
							"value": "@concat('IterateOverAllTables: ', activity('IterateOverAllTables').error.message)",
							"type": "Expression"
						},
						"sourceType": {
							"value": "@pipeline().parameters.sourceType",
							"type": "Expression"
						},
						"uid": {
							"value": "@variables('uid')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetAppIdToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "OperationaLogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'corekv.vault.azure.net/secrets/adapp-extract-id?api-version=7.0')",
						"type": "Expression"
					},
                                        "connectVia": {
                                                "referenceName":"IntegrationRuntimeFreezer",
                                                "type": "IntegrationRuntimeReference"
                                        },
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set appIdToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAppIdToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "appIdToken",
					"value": {
						"value": "@activity('GetAppIdToken').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetAppSecretToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set appIdToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'corekv.vault.azure.net/secrets/adsp-extract-secret?api-version=7.0')",
						"type": "Expression"
					},
                                        "connectVia": {
                                                "referenceName":"IntegrationRuntimeFreezer",
                                                "type": "IntegrationRuntimeReference"
                                        },
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set appSecretToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAppSecretToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "appSecretToken",
					"value": {
						"value": "@activity('GetAppSecretToken').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "HttpToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set appSecretToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/0a25214f-ee52-483c-b96b-dc79f3227a6f/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('client_id=', variables('appIdToken'), '&client_secret=',  encodeUriComponent(variables('appSecretToken')), '&grant_type=client_credentials&scope=https://graph.microsoft.com/.default')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set httpToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "HttpToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "httpToken",
					"value": {
						"value": "@activity('HttpToken').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetGovernanceMetadata",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set httpToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://coreutils', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'akcore.cloudapp.repsol.com/dap-core-extraction-utils/governance-metadata')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"x-application-name": {
							"value": "@pipeline().parameters.applicationName",
							"type": "Expression"
						},
						"x-region": {
							"value": "@pipeline().parameters.region",
							"type": "Expression"
						},
						"x-source-type": "files",
						"x-reference-date": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"x-mock-results": {
							"value": "@pipeline().parameters.mock",
							"type": "Expression"
						},
						"x-package-name": {
							"value": "@pipeline().parameters.package",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat('Bearer ', variables('httpToken'))",
							"type": "Expression"
						},
						"x-is-interval": {
							"value": "false",
							"type": "Expression"
						},
						"x-structured": "true"
					}
				}
			}
		],
		"parameters": {
			"applicationName": {
				"type": "String",
				"defaultValue": "AP_E2E_FTP_TESTS"
			},
			"region": {
				"type": "String",
				"defaultValue": "ESP"
			},
			"referenceDate": {
				"type": "string"
			},
			"sourceType": {
				"type": "string",
				"defaultValue": "file"
			},
			"parentUid": {
				"type": "string"
			},
			"package": {
				"type": "string",
				"defaultValue": "*"
			},
			"mock": {
				"type": "string",
				"defaultValue": "true"
			}
		},
		"variables": {
			"referenceDate": {
				"type": "String",
				"defaultValue": "@if(empty(pipeline().parameters.referenceDate),utcnow('yyyy/MM/dd'),pipeline().parameters.referenceDate)"
			},
			"uid": {
				"type": "String",
				"defaultValue": "@if(equals(pipeline().parameters.package, '*'), concat('EXTRACTION_DEPARTAMENTAL_STRUCTURED#$', pipeline().parameters.applicationName, '$_', pipeline().parameters.region, '#', if(empty(pipeline().parameters.referenceDate),utcnow('yyyy/MM/dd'),pipeline().parameters.referenceDate) , '#', utcnow('yyyyMMddHHmmssfff')), concat('EXTRACTION_DEPARTAMENTAL_STRUCTURED#', pipeline().parameters.package, '_$', pipeline().parameters.applicationName, '$_', pipeline().parameters.region, '#', if(empty(pipeline().parameters.referenceDate),utcnow('yyyy/MM/dd'),pipeline().parameters.referenceDate) , '#', utcnow('yyyyMMddHHmmssfff')))"
			},
			"datasetIn": {
				"type": "Array"
			},
			"datasetOut": {
				"type": "Array"
			},
			"evaluate": {
				"type": "Array"
			},
			"appIdToken": {
				"type": "String"
			},
			"appSecretToken": {
				"type": "String"
			},
			"httpToken": {
				"type": "String"
			}
		},
		"folder": {
			"name": "extraction/files"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
