pipeline/E2eStartSFTPServer.json
{
	"name": "E2eStartSFTPServer",
	"properties": {
		"activities": [
			{
				"name": "WaitRunSFTPServer",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "StartSFTPServer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "StartSFTPServer",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set AciName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/', variables('subscriptionId'), '/resourceGroups/', variables('resourceGroupName'), '/providers/Microsoft.ContainerInstance/containerGroups/', variables('aciName'), '/start?api-version=2019-12-01')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@trim('')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Set SubscriptionId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetSubscriptionId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "subscriptionId",
					"value": {
						"value": "@activity('GetSubscriptionId').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSubscriptionId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'corekv.vault.azure.net/secrets/df-dap-subscription-id?api-version=7.0')",
						"type": "Expression"
					},
                                        "connectVia": {
                                                "referenceName":"IntegrationRuntimeFreezer",
                                                "type": "IntegrationRuntimeReference"
                                        },
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set ResourceGroupName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetResourceGroupName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "resourceGroupName",
					"value": {
						"value": "@activity('GetResourceGroupName').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetResourceGroupName",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set SubscriptionId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', replace(replace(pipeline().DataFactory, 'dfcore', ''),'ds', ''), 'corekv.vault.azure.net/secrets/df-dap-rg-name?api-version=7.0')",
						"type": "Expression"
					},
                                        "connectVia": {
                                                "referenceName":"IntegrationRuntimeFreezer",
                                                "type": "IntegrationRuntimeReference"
                                        },
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set AciName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set ResourceGroupName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aciName",
					"value": {
						"value": "@replace(pipeline().DataFactory, 'dfcore', 'cicoe2e')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"subscriptionId": {
				"type": "String"
			},
			"resourceGroupName": {
				"type": "String"
			},
			"aciName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "e2e_validation"
		},
		"annotations": []
	}
}
