pipeline/MLServing.json
{
	"name": "MLServing",
	"properties": {
		"description": "Pipeline to execute mllab serving models",
		"activities": [
			{
				"name": "OperationalLogStart",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OperationalLogPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"nivel": "INFO",
						"modulo": "MLLAB_SERVING",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logType": "START",
						"dataDate": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"uid": {
							"value": "@variables('uid')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetMetadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "OperationalLogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.mllab WHERE process_id='@{pipeline().parameters.process_id}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "dbo.mllab",
							"secretName": "db-metadata-secret"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CallMllabServing",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteMLServingInside",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MLServing_endpoint_call",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"client_id": {
										"value": "@item().client_id",
										"type": "Expression"
									},
									"referenceDate": {
										"value": "@pipeline().parameters.referenceDate",
										"type": "Expression"
									},
									"parentUid": {
										"value": "@pipeline().parameters.parentUid",
										"type": "Expression"
									},
									"client_secret": {
										"value": "@item().client_secret",
										"type": "Expression"
									},
									"version": {
										"value": "@item().version",
										"type": "Expression"
									},
									"env_vars": {
										"value": "@item().env_vars",
										"type": "Expression"
									},
									"deploy_parameters": {
										"value": "@item().deploy_parameters\n",
										"type": "Expression"
									},
									"process_id": {
										"value": "@pipeline().parameters.process_id",
										"type": "Expression"
									},
									"uid": {
										"value": "@variables('uid')",
										"type": "Expression"
									},
									"aks_url": {
										"value": "@item().aks_url",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "OperationalLogEnd",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CallMllabServing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OperationalLogPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"nivel": "INFO",
						"modulo": "MLLAB_SERVING",
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"logType": "END",
						"dataDate": {
							"value": "@variables('referenceDate')",
							"type": "Expression"
						},
						"uid": {
							"value": "@variables('uid')",
							"type": "Expression"
						},
						"parentUid": {
							"value": "@variables('parentUid')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"process_id": {
				"type": "string"
			},
			"referenceDate": {
				"type": "string"
			},
			"parentUid": {
				"type": "array"
			}
		},
		"variables": {
			"uid": {
				"type": "String",
				"defaultValue": "@concat('MLLAB_SERVING#',pipeline().parameters.process_id,'#',if(empty(pipeline().parameters.referenceDate),utcnow('yyyy/MM/dd'),pipeline().parameters.referenceDate), '#' , utcnow('yyyyMMddHHmmssfff'))"
			},
			"parentUid": {
				"type": "String",
				"defaultValue": "@if(not(empty(pipeline().parameters.parentUid)),join(pipeline().parameters.parentUid,','),null)"
			},
			"referenceDate": {
				"type": "String",
				"defaultValue": "@if(empty(pipeline().parameters.referenceDate),utcnow('yyyy/MM/dd'),pipeline().parameters.referenceDate)"
			},
			"client_id": {
				"type": "String"
			},
			"client_secret": {
				"type": "String"
			},
			"result": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ml_lab"
		},
		"annotations": []
	}
}